<div class="container">
  <h1>Test your reaction time!</h1>
  <p class="lead">Click on 5 red circles as quickly as you can. If
    you click on another color, you lose!
  </p>
  <div class="row-fluid win-message">
    <div id="win-result" class="col-xs-4 center-block" style="float: none;"></div>
  </div>
  <div class="row-fluid loss-message">
    <div id="loss-result" class="col-xs-4 center-block" style="float: none;"></div>
  </div>
  <div class="row bar">
    <div class="col-sm-4 well">
      <p>Your Score: <span id="score">0</span></p>
      <p id="winning-time"></p>
    </div>
    <div class="col-sm-3 btn btn-default" id="start">
      Start Game!
    </div>
    <div class="col-sm-3 btn btn-default" id="restart">
      Restart Game!
    </div>      <div class="col-sm-3 btn btn-default" id="stop">
      Stop Game!
    </div>
    <div class="col-sm-3 btn btn-default" id="reset">
      Reset Game
    </div>
  </div>
  <hr>
  <div id="game-space"></div>
</div>
