#game-space {
  border: 1px solid lightgray;
  height: 450px;
  width: 1140px;
}

.win-message {
  background-color: rgba(166, 246, 177, 0.5);
  border-radius: 10px;
  display: none;
  margin-bottom: 10px;
  padding: 20px;
}

.loss-message {
  background-color: rgba(250, 169, 162, 0.5);
  border-radius: 10px;
  display: none;
  margin-bottom: 10px;
  padding: 20px;
}

hr {
  margin-top: 3px !important;
}

.well {
  margin-left: 13px;
  text-align: center;
}

.btn {
  margin-left: 10px;
  margin-top: 10px;
}

#start {
  background-color: orange;
  color: white;
}

#restart {
  background-color: orange;
  color: white;
  display: none;
}

#stop {
  background-color: #fe0101;
  color: white;
  display: none;
}

#reset {
  background-color: #17bc01;
  color: white;
  display: none;
}
